<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
    <!--<property name="dialect">com.berm.hib.MyCustomDialect</property>-->

    <!--<property name="hibernate.connection.url">jdbc:mysql://192.168.1.57/test</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://192.168.1.57/test?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>

    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">sddba</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <mapping resource="aiacode.hbm.xml"/>
    <mapping resource="aiaprice.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
