coverage.html
.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
*~
*.user
*.o
moc_*
benchmarks/graphs
testing
node_modules/
testing
.coverage_data
cover_html
test.js
.idea
obj
build
qtquick2*

# editor
cscope.*
du-size

sessions

.vagrant
*.jar

# java
.gradle
gradlew*
