<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="'สวัสดี, ' + ${name} + '!'" />
  <div th:text="'Your old is ' + ${age} + '.'" />
  <!--<p th:each="i, -->
  <table>
    <tr>
      <th>id</th>
      <th>code</th>
      <th>name</th>
    </tr>
    <tr th:each="code : ${codes}">
      <td th:text="${code.getId()}">Onions</td>
      <td th:text="${code.getCode()}">2.41</td>
      <td th:text="${code.getName()}">yes</td>
      <!--<td th:text="${code.price}">2.41</td>-->
      <!--<td th:text="${code.inStock}? #{true} : #{false}">yes</td>-->
    </tr>
  </table>
</body>
</html>
