<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${code}">AiA Table</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//www.google.com/jsapi"></script>
</head>
<body>
  <div class="container">

    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">History of <a id="image_link" th:text="${code}">code name</a></div>
      <div class="panel-body">
        <div id="chart_div"></div>
        <br/>

        <table class="table">
          <tr>
            <th>Date</th>
            <th>Price (Baht)</th>
          </tr>
          <tr th:each="p : ${prices}">
            <td th:text="${p.getDate()}">date</td>
            <td th:text="${p.getPrice()}">price</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    google.load('visualization', '1', {packages: ['corechart', 'line']});
    google.setOnLoadCallback(drawCurveTypes);

    function drawCurveTypes() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'X');
      data.addColumn('number', 'Val.');

      /*[+

      var plot = [[${plot}]];
      //console.log(plot);
      eval(plot);

      +]*/

      var options = {
        hAxis: {
          title: 'Date'
        },
        vAxis: {
          title: 'Baht'
        },
        series: {
          1: {curveType: 'function'}
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      var link = document.getElementById('image_link');
      link.href = chart.getImageURI();
    }
  </script>
</body>
</html>
