<?xml version='1.0' encoding='UTF-8'?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- ________________ To be Edited _________________ <property name="connection.url">jdbc:sqlserver://aaebio\\bsserver:1433;databaseName=domotics;user=sa;password=sa;</property> -->

		<property name="connection.url">jdbc:sqlserver://aaebio\bsserver;database=domotics;</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">sa</property>
		<!-- _____________ End of To be Edited ______________ -->
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="dialect"> org.hibernate.dialect.SQLServerDialect </property>
		<property name="current_session_context_class">thread</property>        <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<mapping class="th.co.aae.User"></mapping>
	</session-factory>
</hibernate-configuration>