<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Login Form in PHP with Session</title>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <p>My first expression: {{ 5 + 5 }}</p>

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{fullName() | uppercase }}


    <p>Filtering input:</p>
    <p><input type="text" ng-model="test"></p>
    <ul>
      <li ng-repeat="x in names | filter:test | orderBy:'country'">
        {{ x.name + ', ' + x.country }}
      </li>
    </ul>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="js/personController.js"></script>

</body>
</html>
