$def with(search, group, report)
<!DOCTYPE html>
<head>
    <title>Unikware Article Number</title>
    <lnk rel="shortcut icon" href="http://aae014/favicon.ico"/>
    <lnk  rel=stylesheet type=text/css href="static/js/jquery-ui.css">
    <lnk  rel=stylesheet type=text/css href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.js"></script>
</head>
<body>
<div  class=page>
  <h3>Article Search Engine $version</h3>
  <form>
    <fieldset>
      <label for="search">Search:</label>
      <input id="search" type="text" name="search" value="$search">
      <!--<button type="button" id="btnSearch">search</button>-->
    </fieldset>
    <div id="group">
      <input type="radio" name="group" value="article" checked>Article<br>
      <input type="radio" name="group" value="all">All
    </div>
  </form>
</div>

$if report == None or len(report) == 0:
    <div  class=page>
    <h3>NO Result!</h3>
    </div>
$else:
    <div  class=page>
    <h3>you're searching $search on $group</h3>
    <table border="2" cellspacing="0" cellpadding="7">
    <tr>Total: $len(report) records</tr>
    <tr>
        <th>No</th>
        <th>Article</th>
        <th>Match Code</th>
        <th>Description 1</th>
        <th>Description 2</th>
    </tr>
    $for row in report:
        $ nr = 0
        <tr>
        $for col in row:
            $ nr += 1
            $if nr == 2:
                <td><a href="info?a=$col">$col</a></td>
            $else:
                <td>$col</td>
        </tr>
    </table>
    </div>

<script type="text/javascript" src="static/js/article.js"></script>
</body>
</html>

