$def with(search, group)
<!DOCTYPE html>
<head>
    <title>Unikware Article Number</title>
    <link rel="shortcut icon" href="http://aae014/favicon.ico"/>
    <link  rel=stylesheet type=text/css href="static/js/jquery-ui.css">
    <link  rel=stylesheet type=text/css href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.js"></script>
</head>
<body>
<div  class=page>
  <h3>Article Search Engine</h3>
  <form>
    <fieldset>
      <label for="search">Search:</label>
      <input id="search" type="text" name="search">
      <button type="button" id="btnSearch">search</button>
    </fieldset>
    <div id="group">
      <input type="radio" name="group" value="article" checked>Article<br>
      <input type="radio" name="group" value="all">All
    </div>
  </form>
</div>

<div  class=page>
<h3>heading</h3>
<h3>you're searching $search on $group</h3>
</div>

<script type="text/javascript" src="static/js/article.js"></script>
</body>
</html>

