$def with(search, group, report)
<!DOCTYPE html>
<head>
    <title>Unikware Search V$version - $search</title>
    <lnk rel="shortcut icon" href="http://aae014/favicon.ico"/>
    <lnk  rel=stylesheet type=text/css href="static/js/jquery-ui.css">
    <lnk  rel=stylesheet type=text/css href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.js"></script>
</head>
<body>
<div  class=page>
  <h3>Article Search Engine version $version</h3>
  <form id="target">
    <fieldset>
      <label for="search">Search:</label>
      <input id="search" type="text" name="search" value="$search">
      <button type="button" id="btnSearch">search</button>
    </fieldset>
    <div id="group">
$ items = ['article', 'matchcode', 'desc1', 'desc2', 'all']
$ words = ['Article', 'Match Code', 'Description 1', 'Description 2', 'All']
$ ln, i, w = len(items), 0, 0
$while i < ln:
    $if group == items[i]:
        $ w = i
        <input type="radio" name="group" value="$items[i]" checked>$words[i]
    $else:
        <input type="radio" name="group" value="$items[i]">$words[i]
    $ i += 1
  </div>
  </form>
</div>

$if report == None or len(report) == 0:
    <div  class=page>
    <h3>NO Result!</h3>
    </div>
$else:
    <div  class=page>
    <h3>you're searching $search on $words[w]</h3>
    <table border="2" cellspacing="0" cellpadding="7">
    <tr>Total: $len(report) records</tr>
    <tr>
        <th>No</th>
        <th>Article</th>
        <th>Match Code</th>
        <th>Description 1</th>
        <th>Description 2</th>
    </tr>
    $for row in report:
        $ nr = 0
        <tr>
        $for col in row:
            $ nr += 1
            $if nr == 2:
                <td width="10%"><a href="info?a=$col">$col</a></td>
            $else:
                <td>$col</td>
        </tr>
    </table>
    </div>

<script type="text/javascript" src="static/js/article.js"></script>
</body>
</html>

