$def with(a, detail=None, used=None, sub=None)
<!DOCTYPE html>
<head>
    <title>Unikware Info V$version - $a</title>
    <lnk rel="shortcut icon" href="http://aae014/favicon.ico"/>
    <lnk  rel=stylesheet type=text/css href="static/js/jquery-ui.css">
    <lnk  rel=stylesheet type=text/css href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui.js"></script>
</head>
<body>
<div  class=page>
<h3><a href="./?search=$a">Article Information version $version</a></h3>
$if detail == None or len(detail) == 0:
    <p>There is no detail of $a</p>
$else:
    $ f_show_info, info, figure = True, [], []
    $for row in detail:
        $ figure.extend(row[-1:])
        $if f_show_info:
            $ info = row[:-1]
            $ f_show_info = False
    <table border="2" cellspacing="0" cellpadding="7">
    <tr>Details of $a:</tr>
    <tr>
        <th>Match Code</th>
        <th>Description 1</th>
        <th>Description 2</th>
        <th>In Stock</th>
        <th>Available</th>
    </tr>
    <tr>
    $for col in info:
        <td>$col</td>
    </tr>
    </table>
    $for pic in figure:
        $if pic == None or pic[0] == None:
            $continue
        $ link = pic[0].replace("\\", "/")
        $if "pdf" in link:
            $ name = pic[1].split('\\')[-1]
            <p><a href="/unikwareimages/CUSTOMER%20ORDER$link">$name</a></p>
        $else:
            <p><a href="/unikwareimages/CUSTOMER%20ORDER$link"><img src="/unikwareimages/CUSTOMER%20ORDER$link" width="200" /></a></p>
$if used == None or len(used) == 0:
    <p>There is no one use $a</p>
$else:
    <table border="2" cellspacing="0" cellpadding="7">
    <tr>Used: $len(used) item(s)</tr>
    <tr>
        <th>No.</th>
        <th>Article</th>
        <th>Match Code</th>
        <th>Description 1</th>
        <th>Description 2</th>
    </tr>
    $for row in used:
        $ nr = 0
        <tr>
        $for col in row:
            $ nr += 1
            $if nr == 2:
                <td><a href="info?a=$col">$col</a></td>
            $else:
                <td>$col</td>
        </tr>
    </table>
</div>
$if sub == None or len(sub) == 0:
    <p>There is no sub BOM of $a</p>
$else:
    <table border="2" cellspacing="0" cellpadding="7">
    <tr>BOM: $len(sub) item(s)</tr>
    <tr>
        <th>No.</th>
        <th>Article</th>
        <th>Match Code</th>
        <th>Description 1</th>
        <th>Description 2</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Multiplier</th>
        <th>In Stock</th>
        <th>Available</th>
        <th>Position on Board</th>
    </tr>
    $for row in sub:
        $ nr = 0
        <tr>
        $for col in row:
            $ nr += 1
            $if nr == 2:
                <td><a href="info?a=$col">$col</a></td>
            $else:
                <td>$col</td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="static/js/article.js"></script>
</body>
</html>

