[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=quickapp
Exec=/usr/bin/single-instance /opt/quickapp/bin/quickapp
Icon=/usr/share/icons/hicolor/80x80/apps/quickapp80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
