<% var title = 'Authentication Example' %>
<% var f_err; %>
<% include head %>

<section id="page1" data-role="page">
  <header data-role="header"><h1>Login</h1></header>
  <div class="content" data-role="content">
  <% if (f_err) { %>
    <p class="msg error"><%= message %></p>
  <% } else { %>
    <p class="msg success"><%= message %></p>
  <% } %>
    <p>Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".</p>
    <form method="post" action="/login">
      <p>
        <label>Username:</label>
        <input type="text" name="username">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" name="password">
      </p>
      <p>
        <input type="submit" value="Login">
      </p>
    </form>
    <form method="post" action="/signup">
      <p>
        <input type="submit" value="Sign Up">
      </p>
    </form>
  </div>
  <footer data-role="footer"><h1><a href="/home">Domotics</a></h1></footer>
</section>

<% include foot %>

